.home{
    display: flex;
    justify-content: space-between;
    gap: 30px;
   
}
.leftSide{
    flex: 3;
}
.rightSide{
    position: relative;
    flex: 1;
    background-color: var(--orange);
}
.container{
    width: 100%;
    margin-top: 80px;
}
.head{

    background-color: #363d42;
    border-radius: 25px;
    width: fit-content;
    margin-left: 15px;
    padding: 1px 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    
}
.head span{
    background-color: var(--orange);
    padding: 12px 5px;
    border-radius: 25px;
}
.title{
    margin: 30px 20px;
    width: fit-content;
    
}
.title span{
    font-size: 70px;
    color: #fff;
    line-height: 100px;
    font-weight: 500;
}
.title .t1{
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
.title .t2{
    color: #fff;
}
.para{
    color: #fff;
    font-weight: 300;
    opacity: .9;
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 20px;
}
.statistics{
    margin: 10px 15px;
    display: flex;
    justify-content:flex-start;
    gap: 40px;
}
.statistics>div {
display: flex;
flex-direction: column;
}
.statistics>div span:nth-child(1){
    color: #fff;
    font-size: 35px;
    font-weight: 400;
}
.statistics>div span:nth-child(2){
    color: rgb(168, 167, 167);
    opacity: .9;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}
.btns{
    margin: 40px 20px;
    display: flex;
   gap:15px;
}
.leftSide .btns button{
    align-items: center;
    justify-content: center;
    padding: 10px 18px;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    
}
.leftSide .btns .btn{
    background-color: var(--orange);
    border: 4px solid transparent;
 
}

.leftSide .btns .btn2{
    background-color:transparent;
    border: 2px solid var(--orange);
}
.leftSide .calo{
    background-color: #656565;
    border-radius: 12px;
    padding: 15px 10px;
    display: flex;
    gap: 15px;
    position: absolute;
    top: 85%;
    left: 50%;


}
.leftSide .calo .txt{
    display: flex;
    flex-direction: column;
}
.leftSide .calo .txt span:nth-child(1),span:nth-child(2){
    color: rgb(168, 167, 167);
    padding-bottom: 5px;

}
.leftSide .calo .txt span:nth-child(3),span:nth-child(4){
    color: #fff;
}
.rightSide button{
 position: absolute;
right: 60px;
top:25px;
background-color: #fff;
font-weight: bold;
padding: 8px;
font-size: 15px;
border: 4px solid transparent;
border-radius: 8px;
transition: 300ms all;
display: flex;
align-items: center;
justify-content: center;
}
.rightSide button:hover{
    background-color: rgb(228, 222, 222);
}

.heart{
    position: absolute;
    z-index: 1;
    right: 100px;
    top: 100px;
    border-radius: 12px;
    padding: 15px 25px;
    background-color:var(--darkGrey) ;
    
   
}
.heart img{
    width: 30px;
}
.heart p{
    color: var(--lightgray);
    font-size: 15px;
}
.heart h2{
    font-size: 20px;
    font-weight: 450;
    color: #fff;
}
.rightSide .imgs .hero{
    width: 380px;
    z-index: 2;
    position: absolute;
    top: 120px;
    right: 170px;
}
.rightSide .imgs .back{
    width: 270px;
    position:absolute;
    right: 340px;
    top: 20px;
}
